@font-face {
    font-family: "Quicksand";
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/Quicksand/Quicksand-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/Quicksand/Quicksand-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/fonts/Quicksand/Quicksand-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
}